/* Css project */

.mg-btn {
    width: 100%;
}

.error {
    color: red;
    font-size: 90%;
    font-style: italic;
    font-weight: 500;
}

.mg-btn {
    margin-top: 20px;
    /* width: 15%; */
}

.container_css {
    display: flex;
    justify-content: space-between;
}